<!-- 画面下部に固定するフッター -->
<div class="dock dock-md bg-primary text-neutral">
  <!-- 投稿一覧 -->
  <%= link_to posts_path do %>
  <div class="dock-label flex flex-col items-center justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search">
      <path d="m21 21-4.34-4.34"/>
      <circle cx="11" cy="11" r="8"/>
    </svg>
    <span class="dock-label">検索</span>
  </div>
  <% end %>

  <!-- 新規投稿 -->
  <%= link_to new_post_path do %>
    <div class="dock-label flex flex-col items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus">
        <circle cx="12" cy="12" r="10"/>
        <path d="M8 12h8"/>
        <path d="M12 8v8"/>
      </svg>
      <%= t('.new_post') %>
    </div>
  <% end %>
  
  <!-- プロフィール -->
  <% if user_signed_in? %>
    <%= link_to profile_path(current_user) do %>
      <div class="dock-label flex flex-col items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round">
          <circle cx="12" cy="8" r="5"/>
          <path d="M20 21a8 8 0 0 0-16 0"/>
        </svg>
        <span class="dock-label">マイページ</span>
      </div>
    <% end %>
  <% end %>
</div>