<html data-theme="retro"></html>
<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">hoshi cafe</a>
  </div>
  <div class="flex-none">
    <details class="dropdown dropdown-end">
      <summary class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </summary>
      <ul class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
        <li><a>ログイン</a></li>
        <li><a>新規登録</a></li>
        <li><a>使い方</a></li>
        <li><a>投稿一覧</a></li>
        <li><a>利用規約</a></li>
        <li><a>プライバシーポリシー</a></li>
        <li><a>問い合わせフォーム</a></li>
      </ul>
    </details>
  </div>
</div>
