  <!-- 利用規約、プライバシーポリシー、お問い合わせ -->
<div class='mt-6'>
  <div class='flex justify-center space-x-10 items-center'>
    <%= link_to t('.terms'), terms_path, class: 'hover:underline' %>
    <%= link_to t('.privacy'), privacy_path, class: 'hover:underline' %>
    <%= link_to t('.contact'), "https://docs.google.com/forms/d/e/1FAIpQLSfodlC_JuLZS1f7b9Ovyp64YR7Y66zsUnxREjtTy-xA3t1b2g/viewform?usp=dialog", target: "_blank", class: 'hover:underline' %>
  </div>
</div>
